@import 'tailwindcss';

@plugin "daisyui";

@font-face {
	font-family: 'Comic Code';
	src: url('/ComicCodeLigaturesNerdFont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@theme {
	--font-sans: 'Comic Code', monospace;
	--font-mono: 'Comic Code', monospace;
}

body {
	font-family: 'Comic Code', monospace;
}
