@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
	themes: all;
}

@font-face {
	font-family: 'Comic Code';
	src: url('/ComicCodeLigaturesNerdFont.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

body {
	font-family: 'Comic Code', monospace;
}
